<%- include("./_header.html.ejs") -%>

<% const tootLink = text => `web+mastodon://share?text=${encodeURIComponent(text)}` %>

<h1><%= domain %></h1>
<p>通过帖子挑战别人的棋局!</p>

<ol class="usage">

  <li>
    <p>
      获取一个 <a href="https://joinmastodon.org/">Mastodon</a> 账户并
      <a href="<%= tootLink(`@king@${domain} I challenge `) %>">
        发帖到 <strong>@king@<%= domain %></strong></a>, 例如:
    </p>

    <pre>@king@<%= domain %> 我要挑战 @Gargron!</pre>

    <ul class="small">
      <li>(任何句子都可以，只要有“挑战”或“challenge”一词和另外一个提及就可以)</li>
      <li>(当然，你可以使用任何与ActivityPub兼容的微博客服务，例如Misskey)</li>
    </ul>
  </li>

  <li>
    <p>
      然后，在轮到你的时候用
      <a href="https://zh.wikipedia.org/wiki/%E4%BB%A3%E6%95%B8%E8%A8%98%E8%AD%9C%E6%B3%95">代数记谱法</a>回复
    </p>

    <pre>@king@<%= domain %> @Gargron e4. 我将拿下你的王冠!</pre>

    <ul class="small">
      <li>(你的答复必须从代数记谱法的移动开始，移动要写在提及别人的地方之后)</li>
      <li>(当你挑战别人时，会随机挑选另一方棋手)</li>
    </ul>
  </li>

</ol>

<h3>接受挑战</h3>
<p>
  这些玩家已经表示他们愿意接受挑战。
  (点击 ⚔️ 迎战)
</p>
<ul class="challenge-board">
  <% if (challengeBoard.length === 0) { %>
    <li>(目前还没有玩家)</li>
  <% } else { %>
    <% for (const entry of challengeBoard) { %>
      <li>
        <a href="<%= entry.actorId %>">@<%= entry.actorName %></a>
        <% if (entry.actorFullName) { %>
          <a
            class="challenge small"
            href="<%= tootLink(`@king@${domain} 我要挑战 @${entry.actorFullName}`) %>"
          >⚔️</a>
        <% } %>
      </li>
    <% } %>
  <% } %>
</ul>

<p>
  通过
    <a href="<%= tootLink(`@king@${domain} I'm open for challenges!`) %>">发帖</a>加入列表:
</p>
<pre>@king@<%= domain %> 我愿意接受别人的挑战!</pre>

<h3>近期棋局</h3>
<table class="recent-games">
  <tbody>
    <% for (const game of recentGames) { %>
      <tr>
        <td>
          <a href="/games/<%= game.id %>">♙ @<%= game.whiteName %> vs. ♟ @<%= game.blackName %></a>
          <span class="small">(第 <%= Math.floor(game.numMoves / 2) + 1 %> 回合)</span>
        </td>
        <td class="small time">
          <%= game.updatedAt.toUTCString() %>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<p class="align-right">
  Created by <a href="https://hachyderm.io/@kosinus">Stéphan Kochen</a>
</p>
<p class="small align-right">
  Chess pieces by <a href="https://en.wikipedia.org/wiki/User:Cburnett/GFDL_images/Chess">Colin M.L. Burnett</a><br>
  Uses <a href="https://github.com/jhlywa/chess.js">chess.js</a> under the hood<br>
  <a href="https://github.com/stephank/castling.club">Source code</a><br>
  <a href="https://github.com/MomentQYC/castling.club-Chinese">中文版源代码</a>
</p>

<%- include("./_footer.html.ejs") -%>
